riscv-architecture/
risc-architecture-extended/
custom-ops/
full-custom-architecture/application/
full-custom-architecture/synthesis-processor/
full-custom-architecture/implementation-versions/
full-custom-architecture/test/dump_ref.txt
full-custom-architecture/test/dump.txt
full-custom-architecture/test/modified.txt
full-custom-architecture/test/reference_output
full-custom-architecture/test/text_out.txt
full-custom-architecture/assembly_syn.adf
full-custom-architecture/database.dsdb
full-custom-architecture/program.bc
full-custom-architecture/start.idf
full-custom-architecture/processor-implementation/work/
full-custom-architecture/processor-implementation/vhdl/work-obj93.cf
full-custom-architecture/processor-implementation/bus.dump
full-custom-architecture/processor-implementation/execbus.dump
full-custom-architecture/customized-optimized.adf
full-custom-architecture/assembly_code.tceasm
full-custom-architecture/assembly_code.tpef
full-custom-architecture/customized.idf
rtl-snippets/tb/cordic_waveform.gtkw
rtl-snippets/tb/frac_waveform.gtkw
rtl-snippets/tb/waveform
rtl-snippets/tb/waveform.vcd
rtl-snippets/tb/work-obj93.cf
rtl-snippets/support.vhdl
rtl-snippets/Cordic.v
rtl-snippets/constant_multiplier_n0.vhdl
rtl-snippets/constant_multiplier_c0.vhdl
rtl-snippets/constant_multiplier_bn.vhdl
rtl-snippets/compare_and_iter.vhdl
rtl-snippets/compare_and_iter_frac.vhdl
rtl-snippets/compare_and_iter_ext.vhdl
rtl-snippets/comp_term_iter.vhdl
